.cabecalho{
    background-color: rgb(252, 55, 0);
    color: white;
    display: flex;
    justify-content: space-around;
}

.cabecalho-imagem{
    width: 50%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    padding: 24px 0;
    font-size: 28px;
}

.escola-imagem{
    width: 25%;
}

.escola{
    display:flex;
    color:#f5deb3;
    background: linear-gradient(90deg, rgba(193,37,12,1) 0%, rgb(29, 253, 33) 50%, rgb(136, 69, 252) 100%);
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

    .escola-conteudo{
        width: 30%;
       
    }

    .escola-titulo-{
        padding: 24px 0;
    }
            
    body-{
        font-family: 'Poppins'; sans-serif 
    }
    